NodeRED/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Hydroponic System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ea04ed65566cc035",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT-Receive",
        "topic": "application/a852689f-d9f0-4d50-86b7-b073a96f5b7d/device/#",
        "qos": "2",
        "datatype": "json",
        "broker": "eb21a8c4eb60d964",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 512,
        "y": 608,
        "wires": [
            [
                "811ed5459d95c417",
                "d2d86295e1f1fa64"
            ]
        ]
    },
    {
        "id": "811ed5459d95c417",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Check",
        "func": "var newMsg = [];\n// Watertank\nif (msg.topic.indexOf(global.get(\"sensor_dev_eui\")) != -1) {\n    if (typeof (msg.payload[\"object\"]) != \"undefined\") {\n        if (typeof (msg.payload[\"object\"][\"analog_in_61\"]) != \"undefined\") {\n            node.warn(\"analog_in_61 found \" + msg.payload[\"object\"][\"analog_in_61\"]);\n            msg['water_level'] = msg.payload[\"object\"][\"analog_in_61\"];\n            msg['battery'] = msg.payload[\"object\"][\"voltage_1\"];\n            msg['overflow'] = msg.payload[\"object\"][\"presence_63\"];\n            msg['low_level'] = msg.payload[\"object\"][\"presence_62\"];\n            msg['type'] = \"Waterlevel\";\n            msg.payload = msg['water_level'];\n\n            // If overflow send a downlink\n            if (msg['overflow'] == 1) {\n                node.warn(\"Overflow\");\n                msg['todo'] = \"Downlink\";\n                msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"qlUHAQGqVQ==\\\"}\"\n                msg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";\n                msg['qos'] = 2;\n            }\n            else {\n                node.warn(\"No Overflow\");\n                msg['todo'] = \"None\";\n            }\n        }\n    }\n}\n\n// TDS sensor\nif (msg.topic.indexOf(global.get(\"sensor_dev_eui\")) != -1) { \n    if (typeof (msg.payload[\"object\"]) != \"undefined\") {\n        if (typeof (msg.payload[\"object\"][\"concentration_64\"]) != \"undefined\") { // concentration_64 == TDS value\n            node.warn(\"concentration_64 found\");\n            msg['tds_value'] = msg.payload[\"object\"][\"concentration_64\"];// concentration_64\n            msg['type'] = \"TDS-Sensor\";\n        }\n        if (typeof (msg.payload[\"object\"][\"presence_64\"]) != \"undefined\") { // concentration_64 == TDS value\n            node.warn(\"presence_64 found\");\n            var valve_status = msg.payload[\"object\"][\"presence_64\"];\n            // If overflow send a downlink\n            if (valve_status == 1) {\n                node.warn(\"TDS low, open valve \" + msg['tds_value']);\n                msg['todo'] = \"Downlink\";\n                msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"qlUBAQ==\\\"}\" // pump on AA550101\n                msg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";\n                msg['qos'] = 2;\n                msg['email'] = true;\n            }\n            else {\n                node.warn(\"TDS Ok \" + msg['tds_value']);\n                msg['todo'] = \"None\";\n            }\n            node.warn(\"Payload: \" + msg.payload);\n            node.warn(\"Topic: \" + msg.topic);\n        } else {\n            node.warn(\"presence_64 not found\");\n        }\n    }\n}\n\n// Control device\nif (msg.topic.indexOf(global.get(\"relay_dev_eui\")) != -1) { \n    if (typeof (msg.payload[\"object\"]) != \"undefined\") {\n        if (typeof (msg.payload[\"object\"][\"presence_2\"]) != \"undefined\") {\n            node.warn(\"presence_2\");\n            msg['presence_2'] = msg.payload[\"object\"][\"presence_2\"];\n            msg['type'] = \"Relay Device\";\n\n            // TODO Set UI switch to current status if override is active\n        }\n    }\n}\n\n// Light sensor\nif (msg.topic.indexOf(global.get(\"sensor_dev_eui\")) != -1) {\n    if (typeof (msg.payload[\"object\"]) != \"undefined\") {\n        if (typeof (msg.payload[\"object\"][\"illuminance\"]) != \"undefined\") {\n            node.warn(\"illuminance\");\n            msg['illuminance'] = msg.payload[\"object\"][\"illuminance\"];\n            msg['type'] = \"Light Sensor\";\n\n            // If overflow send a downlink\n            if (msg['illuminance'] >= 50) {\n                node.warn(\"Bright, lights off: \" + msg['illuminance']);\n                msg['todo'] = \"Downlink\";\n                msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"qlUAAA==\\\"}\" // AA550101\n                msg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";\n                msg['qos'] = 2;\n            }\n            else {\n                node.warn(\"Dark, lights on: \" + msg['illuminance']);\n                msg['todo'] = \"Downlink\";\n                msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"qlUAAQ==\\\"}\" // AA550100\n                msg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";\n                msg['qos'] = 2;\n            }\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nnode.warn(\"Restart V2\");",
        "libs": [],
        "x": 706,
        "y": 688,
        "wires": [
            [
                "ef54917c25ea6a5c"
            ]
        ]
    },
    {
        "id": "06331141f0acd9d6",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Watertank Actions",
        "property": "todo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Downlink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1062,
        "y": 784,
        "wires": [
            [
                "e8218aba6d3e1046",
                "dc19f50e80bf1284"
            ],
            []
        ]
    },
    {
        "id": "ef54917c25ea6a5c",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "What Device",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TDS-Sensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Light Sensor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Waterlevel",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 854,
        "y": 688,
        "wires": [
            [
                "91d915157e19cea0",
                "622817e7f5ef06e7"
            ],
            [
                "95caf47240db4101"
            ],
            [
                "06331141f0acd9d6"
            ],
            []
        ]
    },
    {
        "id": "91d915157e19cea0",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "TDS Sensor Actions",
        "property": "todo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Downlink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1052,
        "y": 592,
        "wires": [
            [
                "dc19f50e80bf1284"
            ],
            []
        ]
    },
    {
        "id": "95caf47240db4101",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Light Actions",
        "property": "todo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Downlink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1078,
        "y": 720,
        "wires": [
            [
                "dc19f50e80bf1284"
            ],
            []
        ]
    },
    {
        "id": "e8218aba6d3e1046",
        "type": "ui_audio",
        "z": "f6f2187d.f17ca8",
        "name": "Overflow! Check Valve",
        "group": "d7227fcd391266e7",
        "voice": "urn:moz-tts:sapi:Microsoft Zira - English (United States)?en-US",
        "always": "",
        "x": 1580,
        "y": 768,
        "wires": []
    },
    {
        "id": "07ca97fdc5512cbc",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "64502c3307ffe74d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Nutrition Refill",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"todo\":\"send\"}",
        "payloadType": "json",
        "topic": "\"application/command/down\"",
        "topicType": "str",
        "x": 544,
        "y": 480,
        "wires": [
            [
                "74c1791e7bbb14e1"
            ]
        ]
    },
    {
        "id": "ce4a30598d147719",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Nutrition Level",
        "label": "Nutrition Level",
        "tooltip": "",
        "group": "64502c3307ffe74d",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "value",
        "topicType": "msg",
        "min": "200",
        "max": "1500",
        "step": "100",
        "className": "",
        "x": 544,
        "y": 384,
        "wires": [
            [
                "dfa21cf220786d7e",
                "3075b79aa06e779a",
                "3ca59208060b090a"
            ]
        ]
    },
    {
        "id": "dfa21cf220786d7e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create Payload",
        "func": "node.warn(\"Received: \" + msg.payload);\n\nmsg.bvalue = Buffer.from([0xaa, 0x55, 0x01, (msg.payload & 0xff000000) >> 24,\n    (msg.payload & 0x00ff0000) >> 16, (msg.payload & 0x0000ff00) >> 8,\n    (msg.payload & 0x000000ff)]);\n\nglobal.nutrition_level = msg.payload;\n\n// switch (msg.payload)\n// {\n//     case 600:\n//         node.warn(\"level 600\");\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x02, 0x58]);\n//         break;\n//     case 700:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x02, 0xBC]);\n//         break;\n//     case 800:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x03, 0x20]);\n//         break;\n//     case 900:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x03, 0x84]);\n//         break;\n//     case 1000:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x03, 0xe8]);\n//         break;\n//     case 1100:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x04, 0x4c]);\n//         break;\n//     case 1200:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x04, 0xb0]);\n//         break;\n//     case 1300:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x05, 0x14]);\n//         break;\n//     case 1400:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x05, 0x78]);\n//         break;\n//     case 1500:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x05, 0xdc]);\n//         break;\n//     case 1600:\n//         msg.bvalue = Buffer.from([0xaa, 0x55, 0x01, 0x00, 0x00, 0x06, 0x40]);\n//         break;\n// }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 752,
        "y": 384,
        "wires": [
            [
                "0ca72e9092a1eba9"
            ]
        ]
    },
    {
        "id": "0ca72e9092a1eba9",
        "type": "base64",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "action": "",
        "property": "bvalue",
        "x": 1092,
        "y": 384,
        "wires": [
            [
                "cd08a6cef36056c2"
            ]
        ]
    },
    {
        "id": "cd08a6cef36056c2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create MQTT",
        "func": "msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"sensor_dev_eui\") +\"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":11,\\\"data\\\":\\\"\" + msg.bvalue + \"\\\"}\" // new nutrition value\nnode.warn(\"Payload: \" + msg['payload']);\nmsg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"sensor_dev_eui\") +\"/command/down\";\nmsg['qos'] = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 384,
        "wires": [
            [
                "dc19f50e80bf1284"
            ]
        ]
    },
    {
        "id": "8bc2cba06df853f0",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Pump Override",
        "tooltip": "",
        "group": "d7227fcd391266e7",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 544,
        "y": 160,
        "wires": [
            [
                "decf2eaf11f7da9c",
                "870d1f60d1a0d8b8"
            ]
        ]
    },
    {
        "id": "decf2eaf11f7da9c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create Payload",
        "func": "node.warn(\"Received: \" + msg.payload);\nswitch (msg.payload)\n{\n    case true:\n        node.warn(\"Pump On\");\n        msg.bvalue = Buffer.from([0xaa, 0x55, 0x00, 0x01]);\n        break;\n    case false:\n        node.warn(\"Pump Off\");\n        msg.bvalue = Buffer.from([0xaa, 0x55, 0x00, 0x00]);\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 752,
        "y": 160,
        "wires": [
            [
                "c95baa92a2ee2b82"
            ]
        ]
    },
    {
        "id": "c95baa92a2ee2b82",
        "type": "base64",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "action": "",
        "property": "bvalue",
        "x": 1092,
        "y": 160,
        "wires": [
            [
                "8099fc818e608ecf"
            ]
        ]
    },
    {
        "id": "8099fc818e608ecf",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create MQTT",
        "func": "msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"\" + msg.bvalue + \"\\\"}\" // water pump on/off\nmsg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";msg['qos'] = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 160,
        "wires": [
            [
                "dc19f50e80bf1284"
            ]
        ]
    },
    {
        "id": "d2d86295e1f1fa64",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Check",
        "func": "// TDS sensor\nif (msg.topic.indexOf(global.get(\"sensor_dev_eui\")) != -1) {\n    if (typeof (msg.payload[\"object\"]) != \"undefined\") {\n        if (typeof (msg.payload[\"object\"][\"concentration_64\"]) != \"undefined\") { // concentration_64 == TDS value\n            node.warn(\"concentration_64 found\");\n            msg['tds_value'] = msg.payload[\"object\"][\"concentration_64\"];\n            node.warn(\"tds_value \" + msg['tds_value']);\n        }\n        else {\n            msg['tds_value'] = 0;\n        }\n        if (typeof (msg.payload[\"object\"][\"analog_in_65\"]) != \"undefined\") { // analog_in_65 == pH value\n            node.warn(\"analog_in_65 found\");\n            msg['ph_value'] = Math.round((msg.payload[\"object\"][\"analog_in_65\"]) * 10.0);\n            node.warn(\"ph_value \" + msg['ph_value']);\n        }\n        else {\n            msg['ph_value'] = 0;\n        }\n        if (typeof (msg.payload[\"object\"][\"temperature\"]) != \"undefined\") { // temperature\n            node.warn(\"temperature found\");\n            msg['temp_value'] = Math.round((msg.payload[\"object\"][\"temperature\"]) * 10.0);\n            node.warn(\"temp_value \" + msg['temp_value']);\n        }\n        else {\n            msg['temp_value'] = 0;\n        }\n        if (typeof (msg.payload[\"object\"][\"humidity\"]) != \"undefined\") { // humidity\n            node.warn(\"humidity found\");\n            msg['humid_value'] = Math.round((msg.payload[\"object\"][\"humidity\"]) * 10.0);\n            node.warn(\"humid_value \" + msg['humid_value']);\n        }\n        else {\n            msg['humid_value'] = 0;\n        }\n\n        msg.bvalue = Buffer.from([0xAA, 0x55, 0xFF, (msg['tds_value'] >> 8) & 0x00ff, (msg['tds_value']) & 0x00ff\n            , (msg['ph_value'] >> 8) & 0x00ff, (msg['ph_value']) & 0x00ff\n            , (msg['temp_value'] >> 8) & 0x00ff, (msg['temp_value']) & 0x00ff\n            , (msg['humid_value'] >> 8) & 0x00ff, (msg['humid_value']) & 0x00ff]);\n        node.warn(\"Buffer \" + msg.bvalue);\n\n        msg.todo = \"OK\";\n    }\n    else\n    {\n        msg.todo = \"NOK\";\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nnode.warn(\"Restart V2\");",
        "libs": [],
        "x": 706,
        "y": 528,
        "wires": [
            [
                "3f9d0a22b6ae8d08"
            ]
        ]
    },
    {
        "id": "094d0eb0c7f8a69f",
        "type": "base64",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "action": "",
        "property": "bvalue",
        "x": 1092,
        "y": 528,
        "wires": [
            [
                "16fcd54f00538432"
            ]
        ]
    },
    {
        "id": "16fcd54f00538432",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create MQTT",
        "func": "msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"display_dev_eui\") +\"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"\" + msg.bvalue + \"\\\"}\" // display data\nnode.warn(\"Payload: \" + msg['payload']);\nmsg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"display_dev_eui\") +\"/command/down\";\nmsg['qos'] = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 528,
        "wires": [
            [
                "dc19f50e80bf1284"
            ]
        ]
    },
    {
        "id": "3f9d0a22b6ae8d08",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "DL?",
        "property": "todo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "NOK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 878,
        "y": 528,
        "wires": [
            [
                "094d0eb0c7f8a69f"
            ],
            []
        ]
    },
    {
        "id": "1fbe12acd2c73cdf",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Inputs",
        "info": "Manual from UI or from Chirpstack MQTT",
        "x": 514,
        "y": 32,
        "wires": []
    },
    {
        "id": "3b7781f0c9d34dfc",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Data processing and action preparation",
        "info": "",
        "x": 822,
        "y": 32,
        "wires": []
    },
    {
        "id": "7b03ba1ba02d280e",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Output and Actions",
        "info": "",
        "x": 1590,
        "y": 80,
        "wires": []
    },
    {
        "id": "b177128091311cbc",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "LoRaWAN Node and Application definitions",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"relay_dev_eui\", \"ac1f09fffe067151\");\nglobal.set(\"sensor_dev_eui\", \"ac1f09fffe0cf054\");\nglobal.set(\"display_dev_eui\", \"ac1f09fffe0a7994\");\nglobal.set(\"app_id\", \"a852689f-d9f0-4d50-86b7-b073a96f5b7d\");\n\nnode.warn(\"relay_dev_eui = \" + global.get(\"relay_dev_eui\"));\nnode.warn(\"sensor_dev_eui = \" + global.get(\"sensor_dev_eui\"));\nnode.warn(\"display_dev_eui = \" + global.get(\"display_dev_eui\"));\nnode.warn(\"app_id = \" + global.get(\"app_id\"));",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 96,
        "wires": [
            []
        ]
    },
    {
        "id": "312cad5f034e6cb1",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Put your Node DevEUI and AppID here",
        "info": "",
        "x": 502,
        "y": 96,
        "wires": []
    },
    {
        "id": "74c1791e7bbb14e1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create MQTT",
        "func": "node.warn(\"TDS low, open valve \" + msg['tds_value']);\nmsg['todo'] = \"Downlink\";\nmsg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") + \"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":10,\\\"data\\\":\\\"qlUDAQ==\\\"}\" // pump long on AA550301\nmsg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") + \"/command/down\";\nmsg['qos'] = 2;\n\nnode.warn(\"Payload: \" + msg.payload);\nnode.warn(\"Topic: \" + msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 480,
        "wires": [
            [
                "dc19f50e80bf1284"
            ]
        ]
    },
    {
        "id": "3e660655ad4f7f0f",
        "type": "ui_form",
        "z": "f6f2187d.f17ca8",
        "name": "Water pump times old",
        "label": "Water pump On/Off times (minutes)",
        "group": "d7227fcd391266e7",
        "order": 2,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "ON time",
                "value": "on_time",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "OFF time",
                "value": "off_time",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "on_time": "",
            "off_time": ""
        },
        "payload": "",
        "submit": "send",
        "cancel": "",
        "topic": "times",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 524,
        "y": 256,
        "wires": [
            [
                "d6bfce9c32d0b93c",
                "6833292522ee31f6"
            ]
        ]
    },
    {
        "id": "d6bfce9c32d0b93c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create Payload",
        "func": "if (typeof (msg.payload.on_time) != \"undefined\") {\n    if (typeof (msg.payload.off_time) != \"undefined\") {\n        // if ((msg.payload.on_time > msg.payload.off_time) || (msg.payload.off_time < 15) || (msg.payload.on_time < 5)) {\n        if ((msg.payload.off_time < 15) || (msg.payload.on_time < 5)) {\n            node.warn(\"Wrong times\");\n            msg.todo = \"None\";\n            msg.payload = \"Wrong times\";\n\n        } else {\n            msg.payload.on_time = msg.payload.on_time * 60;\n            msg.payload.off_time = msg.payload.off_time * 60;\n            msg.bvalue = Buffer.from([0xaa, 0x55, 0x00, (msg.payload.on_time & 0xff000000) >> 24,\n                (msg.payload.on_time & 0x00ff0000) >> 16, (msg.payload.on_time & 0x0000ff00) >> 8,\n                (msg.payload.on_time & 0x000000ff), (msg.payload.off_time & 0xff000000) >> 24,\n                (msg.payload.off_time & 0x00ff0000) >> 16, (msg.payload.off_time & 0x0000ff00) >> 8,\n                (msg.payload.off_time & 0x000000ff)]);\n            msg.todo = \"Downlink\";\n            node.warn(\"Valid times found\");\n        }\n    } else {\n        node.warn(\"No OFF time\");\n        msg.todo = \"None\";\n        msg.payload = \"No Off Time\";\n    }\n} else {\n    node.warn(\"No ON time\");\n    msg.todo = \"None\";\n    msg.payload = \"No On Time\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 752,
        "y": 304,
        "wires": [
            [
                "79354e42f1f0d492"
            ]
        ]
    },
    {
        "id": "391e61a9d6a47b6b",
        "type": "base64",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "action": "",
        "property": "bvalue",
        "x": 1092,
        "y": 336,
        "wires": [
            [
                "6df547a96ede2727"
            ]
        ]
    },
    {
        "id": "6df547a96ede2727",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create MQTT",
        "func": "msg['payload'] = \"{\\\"devEui\\\":\\\"\" + global.get(\"relay_dev_eui\") +\"\\\", \\\"confirmed\\\":false,\\\"fPort\\\":11,\\\"data\\\":\\\"\" + msg.bvalue + \"\\\"}\" // pump time functions\nnode.warn(\"Payload: \" + msg['payload']);\nmsg['topic'] = \"application/\" + global.get(\"app_id\") + \"/device/\" + global.get(\"relay_dev_eui\") +\"/command/down\";\nmsg['qos'] = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 336,
        "wires": [
            [
                "dc19f50e80bf1284"
            ]
        ]
    },
    {
        "id": "79354e42f1f0d492",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "DL?",
        "property": "todo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Downlink",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 926,
        "y": 304,
        "wires": [
            [
                "391e61a9d6a47b6b",
                "f3987535107e2e64"
            ],
            [
                "53c483fedce2d058"
            ]
        ]
    },
    {
        "id": "dc19f50e80bf1284",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT-Publish",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eb21a8c4eb60d964",
        "x": 1600,
        "y": 608,
        "wires": []
    },
    {
        "id": "53c483fedce2d058",
        "type": "ui_audio",
        "z": "f6f2187d.f17ca8",
        "name": "Audio warning",
        "group": "64502c3307ffe74d",
        "voice": "urn:moz-tts:sapi:Microsoft Zira Desktop - English (United States)?en-US",
        "always": true,
        "x": 1600,
        "y": 304,
        "wires": []
    },
    {
        "id": "77e96690dfdc2b5c",
        "type": "e-mail",
        "z": "f6f2187d.f17ca8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "bernd@giesecke.tk",
        "dname": "Send email",
        "x": 1610,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3987535107e2e64",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create Email",
        "func": "msg.topic = 'Hydroponic pump times changed';\nmsg.payload = 'On time: ' + msg.payload.on_time/60 + ' min - Off time: ' + msg.payload.off_time/60 + ' min';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 272,
        "wires": [
            [
                "77e96690dfdc2b5c"
            ]
        ]
    },
    {
        "id": "2115a5b85d049cea",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create Email",
        "func": "msg.topic = 'Hydroponic nutrition level low';\nmsg.payload = 'Nutrition level: ' + msg['tds_value'] + ' ppm';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 624,
        "wires": [
            [
                "77e96690dfdc2b5c"
            ]
        ]
    },
    {
        "id": "622817e7f5ef06e7",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "TDS value low?",
        "property": "email",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1072,
        "y": 656,
        "wires": [
            [
                "2115a5b85d049cea"
            ]
        ]
    },
    {
        "id": "3075b79aa06e779a",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Nutr. Lvl. Store",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "b2ee53a0-f728-11ee-8eab-33542e234137",
        "value": "nutrition_level",
        "command": "write",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 752,
        "y": 416,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "56372a6faaa9f2be",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Nutr. Lvl. Read",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "b2ee53a0-f728-11ee-8eab-33542e234137",
        "value": "nutrition_level",
        "command": "read",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 304,
        "y": 384,
        "wires": [
            [
                "ce4a30598d147719"
            ],
            [
                "ce4a30598d147719"
            ]
        ]
    },
    {
        "id": "870d1f60d1a0d8b8",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Pump Store",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "e88dde10-f72b-11ee-8eab-33542e234137",
        "value": "pump_status",
        "command": "write",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 742,
        "y": 192,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8fdb586139b70ac2",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Pump Read",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "e88dde10-f72b-11ee-8eab-33542e234137",
        "value": "pump_status",
        "command": "read",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 314,
        "y": 160,
        "wires": [
            [
                "8bc2cba06df853f0"
            ],
            [
                "8bc2cba06df853f0"
            ]
        ]
    },
    {
        "id": "9b9da9dc3c1586ab",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "On T Read",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "f5affd30-f72b-11ee-8eab-33542e234137",
        "value": "on_time",
        "command": "read",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 262,
        "y": 896,
        "wires": [
            [
                "48bcfd158bef2c38"
            ],
            [
                "48bcfd158bef2c38"
            ]
        ]
    },
    {
        "id": "92bde994c391933d",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "On T Store",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "f5affd30-f72b-11ee-8eab-33542e234137",
        "value": "on_time",
        "command": "write",
        "msgProperty": "payload",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 730,
        "y": 832,
        "wires": [
            [],
            [
                "9b9da9dc3c1586ab"
            ]
        ]
    },
    {
        "id": "48bcfd158bef2c38",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "",
        "label": "Water Pump Times Slider",
        "tooltip": "Left = ON, right = OFF",
        "group": "d7227fcd391266e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "55",
        "step": "5",
        "className": "",
        "x": 494,
        "y": 896,
        "wires": [
            [
                "6f79d8aec960a7c8",
                "92bde994c391933d"
            ]
        ]
    },
    {
        "id": "6f79d8aec960a7c8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "Create Payload",
        "func": "if (typeof (msg.payload) != \"undefined\") {\n    var on_time = msg.payload;\n    var off_time = 60 - msg.payload;\n    node.warn(\"On time \" + on_time);\n    node.warn(\"Off time \" + off_time);\n\n    on_time = on_time * 60;\n    off_time = off_time * 60;\n    msg.bvalue = Buffer.from([0xaa, 0x55, 0x00, (on_time & 0xff000000) >> 24,\n        (on_time & 0x00ff0000) >> 16, (on_time & 0x0000ff00) >> 8,\n        (on_time & 0x000000ff), (off_time & 0xff000000) >> 24,\n        (off_time & 0x00ff0000) >> 16, (off_time & 0x0000ff00) >> 8,\n        (off_time & 0x000000ff)]);\n    msg.todo = \"Downlink\";\n    node.warn(\"Valid times found\");\n} else {\n    node.warn(\"No ON time\");\n    msg.todo = \"None\";\n    msg.payload = \"No On Time\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 736,
        "y": 896,
        "wires": [
            []
        ]
    },
    {
        "id": "33a8940c71a3b0d1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "on_time",
        "payloadType": "global",
        "x": 82,
        "y": 896,
        "wires": [
            [
                "9b9da9dc3c1586ab"
            ]
        ]
    },
    {
        "id": "7a4b40661ebbe674",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "nutrition_level",
        "payloadType": "global",
        "x": 78,
        "y": 992,
        "wires": [
            []
        ]
    },
    {
        "id": "e7a2ae0d47aa6caa",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "d": true,
        "name": "2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "pump_status",
        "payloadType": "global",
        "x": 78,
        "y": 944,
        "wires": [
            []
        ]
    },
    {
        "id": "be0439f94c96f47b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Initial Read",
        "props": [
            {
                "p": "command",
                "v": "read",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 74,
        "y": 160,
        "wires": [
            [
                "b6ac6e8b2fbdbda4",
                "263bb01b69e06339",
                "8fdb586139b70ac2",
                "56372a6faaa9f2be"
            ]
        ]
    },
    {
        "id": "74a3630755c97110",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "On T Store",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "b78cd600-f7ac-11ee-8eab-33542e234137",
        "value": "t_on_time",
        "command": "write",
        "msgProperty": "payload.on_time",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 1082,
        "y": 208,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "de06dec5652f7f2f",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Off T Store",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "c05a6810-f7ac-11ee-8eab-33542e234137",
        "value": "t_off_time",
        "command": "write",
        "msgProperty": "payload.off_time",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 1082,
        "y": 256,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "263bb01b69e06339",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "Off T Read",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "c05a6810-f7ac-11ee-8eab-33542e234137",
        "value": "t_off_time",
        "command": "read",
        "msgProperty": "payload.off_time",
        "dynamicControl": true,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 314,
        "y": 240,
        "wires": [
            [
                "3e660655ad4f7f0f"
            ],
            [
                "3e660655ad4f7f0f"
            ]
        ]
    },
    {
        "id": "b6ac6e8b2fbdbda4",
        "type": "persistent value",
        "z": "f6f2187d.f17ca8",
        "name": "On T Read",
        "valuesConfig": "5f5faf6d61710c40",
        "valuesConfigName": "Hydroponic-Persistents",
        "valueId": "b78cd600-f7ac-11ee-8eab-33542e234137",
        "value": "t_on_time",
        "command": "read",
        "msgProperty": "payload.on_time",
        "dynamicControl": false,
        "dynamicCommandMsgProperty": "command",
        "dynamicValueMsgProperty": "topic",
        "deepCloneValue": false,
        "outputPreviousValue": false,
        "outputPreviousValueMsgProperty": "previous_value",
        "collectValues": false,
        "collectValuesMsgProperty": "values",
        "blockIfEnable": false,
        "blockIfRule": "eq",
        "blockIfCompareValue": "true",
        "outputMetaData": false,
        "outputMetaDataMsgProperty": "meta",
        "x": 310,
        "y": 304,
        "wires": [
            [
                "3e660655ad4f7f0f"
            ],
            [
                "3e660655ad4f7f0f"
            ]
        ]
    },
    {
        "id": "6fa75f0276924289",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "t_on_time",
        "func": "node.warn(\"On \" + msg.payload.on_time + \" Off \" + msg.payload.on_time);\nnode.warn(\"Global On \" + global.t_off_time);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 908,
        "y": 224,
        "wires": [
            [
                "74a3630755c97110"
            ]
        ]
    },
    {
        "id": "5c889ad9f2d2e377",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "t_off_time",
        "func": "node.warn(\"On \" + msg.payload.on_time + \" Off \" + msg.payload.on_time);\nnode.warn(\"Global Off \" + global.t_off_time);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 908,
        "y": 256,
        "wires": [
            [
                "de06dec5652f7f2f",
                "3ca59208060b090a"
            ]
        ]
    },
    {
        "id": "6833292522ee31f6",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 756,
        "y": 256,
        "wires": [
            [
                "6fa75f0276924289",
                "5c889ad9f2d2e377"
            ]
        ]
    },
    {
        "id": "3ca59208060b090a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "inject",
        "func": "msg.command = 'read';\nnode.warn(\"Injecting values\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 94,
        "y": 304,
        "wires": [
            [
                "263bb01b69e06339",
                "b6ac6e8b2fbdbda4",
                "56372a6faaa9f2be"
            ]
        ]
    },
    {
        "id": "919ba85f16815131",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Set initial values",
        "info": "From global storage",
        "x": 96,
        "y": 32,
        "wires": []
    },
    {
        "id": "c5ab0dca3e55c9d0",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "d7227fcd391266e7",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "74873e313aab3a8d",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "d7227fcd391266e7",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "eb21a8c4eb60d964",
        "type": "mqtt-broker",
        "name": "Chirpstack",
        "broker": "cs-mosquitto-1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7227fcd391266e7",
        "type": "ui_group",
        "name": "Pump Control",
        "tab": "a3dafe33b12d76a8",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64502c3307ffe74d",
        "type": "ui_group",
        "name": "Hydroponic Sensors",
        "tab": "a3dafe33b12d76a8",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f5faf6d61710c40",
        "type": "persistent values config",
        "name": "Hydroponic-Persistents",
        "values": [
            {
                "id": "b2ee53a0-f728-11ee-8eab-33542e234137",
                "name": "nutrition_level",
                "datatype": "num",
                "default": 200,
                "description": "Last nutrition level set",
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "e88dde10-f72b-11ee-8eab-33542e234137",
                "name": "pump_status",
                "datatype": "bool",
                "default": false,
                "description": "Last pump status",
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "f5affd30-f72b-11ee-8eab-33542e234137",
                "name": "on_time",
                "datatype": "num",
                "default": 20,
                "description": "Pump ON time",
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "00472ab0-f737-11ee-8eab-33542e234137",
                "name": "off_time",
                "datatype": "num",
                "default": 40,
                "description": "Pump OFF time",
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "b78cd600-f7ac-11ee-8eab-33542e234137",
                "name": "t_on_time",
                "datatype": "num",
                "default": 0,
                "description": "",
                "scope": "global",
                "storage": "default"
            },
            {
                "id": "c05a6810-f7ac-11ee-8eab-33542e234137",
                "name": "t_off_time",
                "datatype": "num",
                "default": 0,
                "description": "",
                "scope": "global",
                "storage": "default"
            }
        ]
    },
    {
        "id": "a3dafe33b12d76a8",
        "type": "ui_tab",
        "name": "Hydroponic Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]